@font-face {
  font-family: 'Keshin';
  src: url('Fonts/KeshinFont.otf');
}
.font_Keshin {
  font-family: 'Keshin', sans-serif;;
}

@font-face {
  font-family: 'Nishikiteki';
  src: url('Fonts/nishiki-teki.ttf');
}
.font_Nishikiteki {
  font-family: 'Nishikiteki', sans-serif;
}

@font-face {
  font-family: '851MkPOP';
  src: url('Fonts/851MkPOP_101.ttf');
}
.font_851MkPOP {
  font-family: '851MkPOP', sans-serif;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('Fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.font_NotoSans {
  font-family: 'NotoSans', sans-serif;
}


@font-face {
  font-family: 'NotoSansCJK';
  src: url('Fonts/NotoSansCJK.ttc')
}
.font_NotoSansCJK {
  font-family: 'NotoSansCJK', sans-serif;
}

@font-face {
  font-family: 'NotoSansCJKjp';
  src: url('Fonts/NotoSansCJKjp-VF.otf');
}
.font_NotoSansCJKjp {
  font-family: 'NotoSansCJKjp', sans-serif;
}

@font-face {
  font-family: 'Naikai';
  src: url('Fonts/NaikaiFont-Regular.ttf');
}
.font_Naikai {
  font-family: 'Naikai', sans-serif;
}

@font-face {
  font-family: 'Iansui';
  src: url('Fonts/Iansui-Regular.ttf');
}
.font_Iansui {
  font-family: 'Iansui', sans-serif;
}

@font-face {
  font-family: 'Seto';
  src: url('Fonts/setofont.ttf');
}
.font_Seto {
  font-family: 'Seto', sans-serif;
}

@font-face {
  font-family: 'JF-openhuninn';
  src: url('Fonts/jf-openhuninn-2.0.ttf');
}
.font_JF-openhuninn {
  font-family: 'JF-openhuninn', sans-serif;
}

@font-face {
  font-family: 'ChiayiCity';
  src: url('Fonts/ChiayiCity.ttf');
}
.font_ChiayiCity {
  font-family: 'ChiayiCity', sans-serif;
}

@font-face {
  font-family: 'ChenYuluoyan';
  src: url('Fonts/ChenYuluoyan-Thin.ttf');
}
.font_ChenYuluoyan {
  font-family: 'ChenYuluoyan', sans-serif;
}

@font-face {
  font-family: 'KsoKagerou';
  src: url('Fonts/A_KsoKagerou 陽炎.otf');
}
.font_KsoKagerou {
  font-family: 'KsoKagerou', sans-serif;
}

@font-face {
  font-family: 'KsoKaisho';
  src: url('Fonts/A_KsoKaisho 昭和.otf');
}
.font_KsoKaisho {
  font-family: 'KsoKaisho', sans-serif;
}

@font-face {
  font-family: 'BugMaruGothic';
  src: url('Fonts/BugMaruGothic.ttc')
}
.font_BugMaruGothic {
  font-family: 'BugMaruGothic', sans-serif;
}

@font-face {
  font-family: 'Mamelon';
  src: url('Fonts/Mamelon-3-Hi-Regular.otf');
}
.font_Mamelon {
  font-family: 'Mamelon', sans-serif;
}

@font-face {
  font-family: 'OzCaramel';
  src: url('Fonts/OzCaramel.ttf');
}
.font_OzCaramel {
  font-family: 'OzCaramel', sans-serif;
}

@font-face {
  font-family: 'KosugiMaru';
  src: url('Fonts/KosugiMaru-Regular.ttf');
}
.font_KosugiMaru {
  font-family: 'KosugiMaru', sans-serif;
}

@font-face {
  font-family: 'Pigmo-00';
  src: url('Fonts/Pigmo-00.otf');
}
.font_Pigmo-00 {
  font-family: 'Pigmo-00', sans-serif;
}

@font-face {
  font-family: 'TaipeiSans';
  src: url('Fonts/TaipeiSansTCBeta-Regular.ttf');
}
.font_TaipeiSans {
  font-family: 'TaipeiSans', sans-serif;
}

@font-face {
  font-family: 'WD-XLLubrifontTC';
  src: url('Fonts/WD-XLLubrifontTC-Regular.otf');
}
.font_WD-XLLubrifontTC {
  font-family: 'WD-XLLubrifontTC', sans-serif;
}

@font-face {
  font-family: 'WD-XLLubrifont';
  src: url('Fonts/WD-XLLubrifont.ttc')
}
.font_WD-XLLubrifont {
  font-family: 'WD-XLLubrifont', sans-serif;
}

@font-face {
  font-family: 'tkFangSong';
  src: url('Fonts/tkFangSong.ttf');
}
.font_tkFangSong {
  font-family: 'tkFangSong', sans-serif;
}

@font-face {
  font-family: 'LXGWWenKai';
  src: url('Fonts/LXGWWenKai-Regular.ttf');
}
.font_LXGWWenKai {
  font-family: 'LXGWWenKai', sans-serif;
}

@font-face {
  font-family: 'LXGWWenKaiMono';
  src: url('Fonts/LXGWWenKaiMono-Regular.ttf');
}
.font_LXGWWenKaiMono {
  font-family: 'LXGWWenKaiMono', sans-serif;
}

@font-face {
  font-family: 'SourceHanSans';
  src: url('Fonts/SourceHanSans-VF.otf.ttc')
}
.font_SourceHanSans {
  font-family: 'SourceHanSans', sans-serif;
}

@font-face {
  font-family: 'SourceHanSerif';
  src: url('Fonts/SourceHanSerif-VF.otf.ttc')
}
.font_SourceHanSerif {
  font-family: 'SourceHanSerif', sans-serif;
}

@font-face {
  font-family: 'XiaoheSimplifySans';
  src: url('Fonts/XiaoheSimplifySans-VF.otf');
}
.font_XiaoheSimplifySans {
  font-family: 'XiaoheSimplifySans', sans-serif;
}

@font-face {
  font-family: 'XiaoheSimplifySerif';
  src: url('Fonts/XiaoheSimplifySerif-VF.otf');
}
.font_XiaoheSimplifySerif {
  font-family: 'XiaoheSimplifySerif', sans-serif;
}

@font-face {
  font-family: 'AdvocateAncientMono';
  src: url('Fonts/AdvocateAncientMono-Regular.ttc')
}
.font_AdvocateAncientMono {
  font-family: 'AdvocateAncientMono', sans-serif;
}

/* English Font */

@font-face {
  font-family: 'Roboto';
  src: url('Fonts/English/Roboto-Regular.ttf');
}
.font_Roboto {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('Fonts/English/RobotoMono-Regular.ttf');
}
.font_RobotoMono {
  font-family: 'RobotoMono', sans-serif;
}

@font-face {
  font-family: 'Schoolbell';
  src: url('Fonts/English/Schoolbell-Regular.ttf');
}
.font_Schoolbell {
  font-family: 'Schoolbell', sans-serif;
}

@font-face {
  font-family: 'SingleDay';
  src: url('Fonts/English/SingleDay-Regular.ttf');
}
.font_SingleDay {
  font-family: 'SingleDay', sans-serif;
}

@font-face {
  font-family: 'Digital-7';
  src: url('Fonts/English/digital-7.ttf');
}
.font_Digital-7 {
  font-family: 'Digital-7', sans-serif;
}

@font-face {
  font-family: 'Loopy';
  src: url('Fonts/English/LOOPY___.ttf');
}
.font_Loopy {
  font-family: 'Loopy', sans-serif;
}
