body {
  background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.main-inner {
  background: #fff;
  opacity: 0.8;
}
.header-inner {
  opacity: 0.8;
}
